*{
    margin: 0;
    padding: 0;
}
.fadeIn{
    opacity: 1;
}
.fadeOut{
    opacity: 0;
}
/*.show{*/
    /*display: block;*/
/*}*/
/*.hide{*/
    /*display: none;*/
/*}*/
.box{
    /*position: relative;*/
    height: 2000px;
    width: 100%;
    background-color: #abcdef;
    overflow: hidden;
}
.fade{
    /*margin-top: 1000px;*/
    position: fixed;
    top:100px;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: red;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
}