@charset "UTF-8";

/*.wrapper{*/
    /*margin:0 auto;*/
    /*width:960px;*/
    /*height:100%;*/
/*}*/
.M-box{
	position: relative;
    text-align: center;
  	zoom: 1;
}
.M-box:before,.M-box:after{
    content:"";
    display:table;
}
.M-box:after{
	clear:both;
	overflow:hidden;
}
.M-box span{
	float: left;
	margin:0 5px;
	width: 38px;
    height: 38px;
    line-height: 38px;
    color: #bdbdbd;
    font-size: 14px;
}
.M-box .active{
	float: left;
	margin:0 5px;
	width: 38px;
    height: 38px;
    line-height: 38px;
    background: #e91e63;
    color: #fff;
    font-size: 14px;
    border: 1px solid #e91e63;
}
.M-box a{
	float: left;
	margin:0 5px;
	width: 38px;
    height: 38px;
    line-height: 38px;
    background: #fff;
    border: 1px solid #ebebeb;
    color: #bdbdbd;
    font-size: 14px;
}
.M-box a:hover{
	color:#fff;
    background: #e91e63;
}
.M-box .next,.M-box .prev{
	font-family: "Simsun";
    font-size: 16px;
    font-weight: bold;
}
.now,.count{
	padding:0 5px;
	color:#f00;
}

input{
    float: left;
    margin:0 5px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    background: #fff;
    border: 1px solid #ebebeb;
    outline: none;
    color: #bdbdbd;
    font-size: 14px;
}